<html>
  <head>
    <title>Order Placed: {{orderNumber}}</title>
  </head>
  <body>
    <h1>Congratulations!</h1>
    <p>Dear {{userName}},</p>
    <p>We're thrilled to inform you that your order has been successfully
      placed. 🎉</p>
    <p>Thank you for shopping with us!</p>
    <p>Best regards,<br /> The Rainbow Baby Dragon Team</p>
  </body>
</html>