<html>
  <head>
    <title>Order Confirmed: {{orderNumber}} </title>
  </head>
  <body>
    <h1>Your Order is Confirmed!</h1>
    <p>Dear {{firstName}} {{lastName}},</p>
    <p>We're pleased to inform you that your order has been confirmed, and we
      have withdrawn the money from your account.</p>
    <p>Thank you for your purchase!</p>
    <p>Best regards,<br /> The Rainbow Baby Dragon Team</p>
  </body>
</html>